
* {
    font-family: 'Helvetica', 'Arial', 'Sans serif'
}

body {
    background-color: #1D2125;
    border-color: #101204;
    color: #B6C2CF;
    padding: 0%;
    margin: auto;
}

.box {
 
}

.header {
    text-align: center;
}

.p1 {
    font-size: 16px;
    padding: 3%;
}

.versiontag {
    text-align: right;
    color: whitesmoke
}

.construction {
    background-color: #B6C2CF;
    color: rgb(0, 0, 0);
}

#appstatus {
    font-family: monospace;
}

#logolink,
.logo {
    height: 256px;    
}

.footer {
    font-size: 12px;
    text-align: right;
    background-color: #B6C2CF;
    color: rgb(0, 0, 0)
}