
* {
    font-family: 'Helvetica', 'Arial', 'Sans serif'
}

body {
    background-color: #111111;
    border-color: #101204;
    color: #B6C2CF;
}

.header {
    text-align: center;
    color: #5ADEE1;
}


.navbar {
    display: flex;
    margin: auto;
    background-color: #1D2125;
    padding: 3px
}

.navbox {
    display: flex;
    flex: 1;
    background-color: #101204;
    justify-items: center;
}

.navbut {
    flex: 1;
    padding: 3px;
    background-color: #1D2125;
    color: #B6C2CF;
}

.versiontag {
    color: #5ADEE1;
    padding: 3px;
}

.platform {
    background-color: #000000;
    display: flex;
    padding: 8px:
    justify-content: center;

}
 
.p1 {
    display: block;
    flex: 1;   
    font-size: 16px;
    padding: 12px;
}


.app {
    margin-left: auto;
    color: #B6C2CF;
}

.logopanel {
    display: flex;
    justify-content: center;
}

.logolink {
    display: flex;
    flex: .33;
    height: auto;
    padding: 7%;
}

.projlnk {
    color:#B6C2CF
}

.wbtlnk {
    color:#B6C2CF
}

.footer {
    font-size: 12px;
    text-align: right;
    padding-right: 6px;
    margin: auto;
    height: 14px;
    background-color: #B6C2CF;
    color: rgb(0, 0, 0)
}


#appstatus {
    font-family: monospace;
}

.construction {
    background-color: #B6C2CF;
    padding-left: .5%;
    color: rgb(0, 0, 0);
    text-align: center;
}