
* {
    font-family: 'Helvetica', 'Arial', 'Sans serif'
}

#appstatus {
    font-family: sans serif;
}

.header {
    text-align: center;
}

.versiontag {
    text-align: right;
}

.prompt1 {
    font-style: italic;
    font-size: 24px;
}

.construction {
    background-color: #808080;
    color: white;
}

.logo {

}

.footer {
    font-size: 12px;
    text-align: right;
    background-color: #808080;
}